.app {
  max-width: 1280px;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
}

.itinerary_button.itinerary_button {
  text-transform: uppercase;
  margin: 0% 50%;
}

ul {
  list-style-type: none;
}

main {
  width: 75%;
  height: 100vh;
  margin: 5px;
  padding: 5px;
}

.sidebar {
  width: 25%;
  margin: 5px;
  padding: 5px;
}

body {
  background-image: url('barca.JPG');
  background-size: 100%;
}